<body>
    <h1 style="text-align: center"  >Basic Medical Record</h1>
    <form class="form-horizontal" action='' method="POST"   style="margin-left: 100px"  >
        <fieldset>
          <div id="legend">
            <legend class="">Name </legend>
          </div>
          <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">Hospital/Nursing Home</label>
            <div class="controls">
              <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
              <p class="help-block"></p>
            </div>
          </div>
       
          <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">Hospital Registration Number</label>
            <div class="controls">
              <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group">
              <!-- E-mail -->
              <label class="control-label" for="email">Hospital Address</label>
              <div class="controls">
                <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                <p class="help-block"></p>
              </div>
            </div>
          <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Date</label>
            <div class="controls">
              <input type="date" id="password" name="password" placeholder="" class="input-xlarge">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Date of Admission </label>
                <div class="controls">
                  <input type="date" id="password" name="password" placeholder="" class="input-xlarge">
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group">
                    <!-- Password-->
                    <label class="control-label" for="password">Date of Discharge </label>
                    <div class="controls">
                      <input type="date" id="password" name="password" placeholder="" class="input-xlarge">
                      <p class="help-block"></p>
                    </div>
                  </div>
       
          <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="password_confirm">Mode of Admission (Session Under Mental HealthCare Act, 2017)</label>
            <div class="controls">
              <div class="form-group">
                  <label for="my-input"></label>
                  <select id="my-input" class="">
                      <option>Independent</option>
                      <option>Supported</option>
                  </select>
              </div>
                
              <p class="help-block"></p>
            </div>
          </div>
       
          <div class="control-group">
            <!-- Button -->
            <div class="controls">
             
            </div>
          </div>
        </fieldset>
      </form>
      <hr style="background-color: red;"> 
      <h5 style="text-align: center"  > (Filled by Receptionist)</h5>
      <hr style="background-color: red;"> 
      <form class="form-horizontal" action=''  style="margin-left: 100px"  method="POST">
        <fieldset>
          <div id="legend">
            <legend class=""> </legend>
          </div>
          <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">Patient</label>
            <div class="controls">
              <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="username">Father/Mother Name </label>
                <div class="controls">
                  <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                  <p class="help-block"></p>
                </div>
              </div>
          <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">Age</label>
            <div class="controls">
              <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="username"></label>
                <div class="controls">
                    <div class="form-group">
                        <label for="my-input">Sex</label>
                        <select id="my-input" Sex="custom-select">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>
                  <p class="help-block"></p>
                </div>
              </div>
       
          <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Address</label>
            <div class="controls">
              <input type="text" id="password" name="password" placeholder="" class="input-xlarge">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Patient Accompanied by (Name Age and Nature of Relationship)</label>
                <div class="controls">
                  <input type="text" id="password" name="password" placeholder="Name" class="input-xlarge">
                  <input type="text" id="password" name="password" placeholder="Age" class="input-xlarge">
                  <input type="text" id="password" name="password" placeholder="Nature of Relationship" class="input-xlarge">
                  <p class="help-block"></p>
                </div>

              </div>
              <div class="control-group">
                    <!-- Password-->
                    <label class="control-label" for="password">Identificatin Mark </label>
                    <div class="controls">
                      <input type="text" id="password" name="password" placeholder="" class="input-xlarge">
                      <p class="help-block"></p>
                    </div>
                  </div>
                  <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Nominated Representative </label>
                        <div class="controls">
                          <input type="text" id="password" name="password" placeholder="" class="input-xlarge">
                          <p class="help-block"></p>
                        </div>
                      </div>

                      <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="password">Advance Directive </label>
                            <div class="controls">
                              <div class="btn-group-toggle" data-toggle="buttons">
                                  <label class="btn btn-primary">
                                      <input type="checkbox"> Yes
                                      <input type="checkbox"> No
                                  </label> 
                           <br>       salient features of the content 
                                  <input type="text" name="" id="">
                              </div>
                              <p class="help-block"></p>
                            </div>
                          </div>            
          <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="password_confirm"></label>
            <div class="controls">
              <!-- <div class="form-group">
                  <label for="my-input"></label>
                  <select id="my-input" class="form-control">
                      <option>Independent</option>
                      <option>Supported</option>
                  </select>
              </div> -->
                
              <p class="help-block"></p>
            </div>
          </div>
       
          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              
            </div>
          </div>
        </fieldset>
      </form>

      <hr style="background-color: red;">


      <h5 style="text-align: center"  > (Filled by Doctor)</h5>
      <hr style="background-color: red;">
      <form class="form-horizontal" action=''  style="margin-left: 100px"  method="POST">
        <fieldset>
            <div id="legend">
                <legend class=""> </legend>
              </div>
              <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="username">Chief Complaints</label>
                <div class="controls">
                  <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                  <p class="help-block"></p>
                </div>
              </div>
           
              <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">Summary of medical laboratory Examination </label>
                <div class="controls">
                  <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                  <p class="help-block"></p>
                </div>
              </div>
           
              <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Provisional/Differential/Final Digonosis</label>
                <div class="controls">
                  <input type="text" id="password" name="password" placeholder="" class="input-xlarge">
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group">
                    <!-- Password-->
                    <label class="control-label" for="password">Course in the Hospital (Treatement and Progress ) </label>
                    <div class="controls">
                      <input type="text" id="password" name="password" placeholder="" class="input-xlarge">
                      <p class="help-block"></p>
                    </div>
                  </div>
                  
        </fieldset>
      </form>
      <hr style="background-color: red;">
      <h5 style="text-align: center"  > to be filled at discharge</h5>
      <hr style="background-color: red;">
      <form class="form-horizontal" action='' style="margin-left: 100px"  method="POST">
        <fieldset>
            <div id="legend">
                <legend class=""> </legend>
              </div>
              <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="username">Condition at discharge or discharge as request or leave against Medical Advise or person with mental illness absconding or others</label>
                <div class="controls">
                    <div class="form-group">
                        <label for="my-input">select</label>
                        <select id="my-input" class="custom-select">
                            <option>Condition at discharge</option>
                            <option>discharge as request </option>
                            <option>leave against Medical Advise</option>
                            <option>person with mental illness absconding </option>
                            <option>Others</option>
                        </select>
                    </div>
                  <input type="text" id="username" name="username" placeholder="remarks" class="input-xlarge">
                  <p class="help-block"></p>
                </div>
              </div>

              <div class="control-group">
                  <!-- Password-->
                  <label class="control-label" for="password">Treatment advice at discharge </label>
                  <div class="controls">
                    <input type="text" id="password" name="password" placeholder="" class="input-xlarge">
                    <p class="help-block"></p>
                  </div>
                </div>

                <div class="control-group">
                    <!-- Password-->
                    <label class="control-label" for="password">Follow up Recommondation </label>
                    <div class="controls">
                      No Of Days <input type="text" name="" id="">
                      <input type="text" id="password" name="password" placeholder="remarks" class="input-xlarge">
                      <p class="help-block"></p>
                    </div>
                  </div>
           


        </fieldset>
      </form>

      <button type="button" name="" id="" class="btn btn-primary" btn-lg btn-block>save</button>
      <button type="button" name="" id="" class="btn btn-danger" btn-lg btn-block>edit</button>
      <button type="button" name="" id="" class="btn btn-success" btn-lg btn-block>Submit</button><br>
</body>