<html class="no-js" lang="en">
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mental Act Sections</title>
</head>

<body>

  <div class="row">
  <div class="large-12 columns">
  <div class="nav-bar right">
  <ul class="button-group">
  <li><a (click)="section85()" class="button">Section 85</a></li>
  <li><a (click)="section86()" class="button">Section 86</a></li>
  <li><a (click)="section89()" class="button">Section 89</a></li>
  <li><a (click)="section90()" class="button">Section 90</a></li>
  </ul>
  </div>
  <h1>Section 89 to 86<small><br></small></h1>
  <hr />
  </div>
  </div>
  
  
  <div class="row">
    <div class="polls">
      <h5 class="polls-question">
        <span class="polls-question-label">Q:</span>
        Is patient able to <strong>Understand the information that is relevent to take the descision on treatement on admission or personal assistance</strong>?
      </h5>
      <div class="polls-options">
        <div>
          <input type="radio" (change)="admit1()"  name="QQQ1" [(ngModel)]="Q1" value="Yes" id="q1y" required>
          <label for="Q1ofyes">Yes</label>
        </div>
        <div>
          <input type="radio" (change)="admit1()" name="QQQ1" value="No" [(ngModel)]="Q1"  id="q2n" required>
          <label for="Q1ofno">No</label>
        </div>
      </div>
      <!-- <div class="polls-submit">
        <input type="submit" class="button" (click)="q1()"  value="Submit">
      </div> -->
    </div>
  </div>

  <div class="row">
    <div class="polls">
      <h5 class="polls-question">
        <span class="polls-question-label">Q:</span>
        Is patient able to <strong>Appreciate any resonablly for easeble consequence of a descision or lake of descision on treatement or addmission or personal assistance </strong>?
      </h5>
      <div class="polls-options">
        <div>
          <input type="radio" (change)="admit1()"  name="QQQ2" [(ngModel)]="Q2" value="Yes" id="q2y" required>
          <label for="Q2ofyes">Yes</label>
        </div>
        <div>
          <input type="radio" (change)="admit1()" name="QQQ2" value="No" [(ngModel)]="Q2"  id="q2n" required>
          <label for="Q2ofno">No</label>
        </div>
      </div>
      <!-- <div class="polls-submit">
        <input type="submit" class="button" (click)="q1()"  value="Submit">
      </div> -->
    </div>
  </div>

  <div class="row">
    <div class="polls">
      <h5 class="polls-question">
        <span class="polls-question-label">Q:</span>
        Is patient able to <strong>Communicate the descision under sub class <br>
        (e) by means of speach,expression,gesture or any other means</strong>?
      </h5>
      <div class="polls-options">
        <div>
          <input type="radio" (change)="admit1()" name="QQQ3" [(ngModel)]="Q3" value="Yes" id="q3y" required>
          <label for="Q3ofyes">Yes</label>
        </div>
        <div>
          <input type="radio" (change)="admit1()" name="QQQ3" value="No" [(ngModel)]="Q3"  id="q3n" required>
          <label for="Q3ofno">No</label>
        </div>
      </div>
      <!-- <div class="polls-submit">
        <input type="submit" class="button" (click)="admit1()"  value="Submit">
      </div> -->
    </div>
  </div>



  <div *ngIf="temp1"  class="row">
    <div class="polls">
      <h5 class="polls-question">
       
       <span style="color: red"> As per Mental Act, patient is supposed to be transferred to under section 86.</span><br>
       <span class="polls-question-label"> Q.</span> Would you like to shift patient admission from  under Section 89 to section 86 ?
      </h5>
      <div class="polls-options">
        <div>
          <input type="radio"  name="QQQ4" [(ngModel)]="Q4" value="Yess"  required>
          <label for="Q4ofyes">Yes</label>
        </div>
        <div>
          <input type="radio" name="QQQ2" value="Noo" [(ngModel)]="Q4"  required>
          <label for="Q4ofno">No</label>
        </div>
      </div>
      <div class="polls-submit">
        <input type="submit" class="button" (click)="admit2()"  value="Submit">
      </div>
    </div>
  </div>

  <div *ngIf="temp2"  class="row">
    <div class="polls">
      <h5 class="polls-question">
       
      
       <span class="polls-question-label"> Q.</span> Would you like to admit <strong>patient with caution</strong> ?
      </h5>
      <div class="polls-options">
        <div>
          <input type="radio"  name="QQQ5" [(ngModel)]="Q5" value="Yess"  required>
          <label for="Q5ofyes">Yes</label>
        </div>
        <div>
          <input type="radio" name="QQQ5" value="Noo" [(ngModel)]="Q5"  required>
          <label for="Q5ofno">No</label>
        </div>
      </div>
      <div class="polls-submit">
        <input type="submit" class="button" (click)="admit3()"  value="Submit">
      </div>
    </div>
  </div>
  

  <div *ngIf="temp3"  class="row">
    <div class="polls">
      <h5 class="polls-question">
       
       <span style="color: red"> As per Mental Act, patient is supposed to be admitted under clauses "Patient with cautions"</span><br>
       <span class="polls-question-label"> Q.</span> Would you like to admit "Patient with cautions" ?
      </h5>
      <div class="polls-options">
        <div>
          <input type="radio"  name="QQQ5" [(ngModel)]="Q5" value="Yess"  required>
          <label for="Q5ofyes">Yes</label>
        </div>
        <div>
          <input type="radio" name="QQQ5" value="Noo" [(ngModel)]="Q5"  required>
          <label for="Q5ofno">No</label>
        </div>
      </div>
      <div class="polls-submit">
        <input type="submit" class="button" (click)="submit()"  value="Submit">
      </div>
    </div>
  </div>
  
  <footer class="row">
  <div class="large-12 columns">
  <hr />
  <div class="row">
  <div class="large-6 columns">
  <p>&copy; Copyright no one at all. Go to town.</p>
  </div>
  <div class="large-6 columns">
  <ul class="inline-list right">
  <li><a (click)="section85()">Section 85</a></li>
  <li><a (click)="section86()">Section 86</a></li>
  <li><a (click)="section89()">Section 89</a></li>
  <li><a (click)="section90()">Section 90</a></li>
  </ul>
  </div>
  </div>
  </div>
  </footer>
  </body>
</html>
