<mat-form-field>
    <input matInput [(ngModel)]='abhikidate'  [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <table class="table table-striped">
    <thead>
    <tr>
    <th class="center">S.No.</th>
    <th>Patient Name</th>
    <th>Service details</th>
    
    <th class="right">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of dayendData;index as i">
        <td>{{i+1}}</td>
        <td>{{item.patient[0].first_name}} {{item.patient[0].last_name}} </td>
        <td>
          <table style="width:100%;">
            <tr>
              <th>sn</th>
              <th>name</th>
              <th>charge</th>
            </tr>
            <tr *ngFor="let ii of item.serviceDetailsssss;let j=index">
              <td>{{j+1}}</td>
              <td>{{ii.name}}</td>
              <td>{{ii.charge}}</td>
            </tr>
              
            
            
            
          </table></td>
          <td>{{item.total}}</td>
    
    
    
    </tr>
    
    
    
    </tbody>
    </table>



    <div class="row">
        <div class="col-lg-4 col-sm-5">
        
        </div>
        
        <div class="col-lg-4 col-sm-5 ml-auto">
        <table class="table table-clear">
        <tbody>
        <tr>
        <td class="left">
        <strong>Subtotal</strong>
        </td>
        <td class="right">$8.497,00</td>
        </tr>
        <tr>
        <td class="left">
        <strong>Discount (20%)</strong>
        </td>
        <td class="right">$1,699,40</td>
        </tr>
        <tr>
        <td class="left">
         <strong>VAT (10%)</strong>
        </td>
        <td class="right">$679,76</td>
        </tr>
        <tr>
        <td class="left">
        <strong>Total</strong>
        </td>
        <td class="right">
        <strong>$7.477,36</strong>
        </td>
        </tr>
        </tbody>
        </table>
        
        </div>
        
        </div>

<div *ngIf="ok" id="print-section">
    <div class="container">
        <div class="row">
            <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address>
                            <strong>Elf Cafe</strong>
                            <br>
                            2135 Sunset Blvd
                            <br>
                            Los Angeles, CA 90026
                            <br>
                            <abbr title="Phone">P:</abbr> (213) 484-6829
                        </address>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <p>
                            <em>Date: 1st November, 2013</em>
                        </p>
                        <p>
                            <em>Receipt #: 34522677W</em>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <h1>Receipt</h1>
                    </div>
    
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>#</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-9"><em>Baked Rodopa Sheep Feta</em></td>
                                <td class="col-md-1" style="text-align: center"> 2 </td>
                                <td class="col-md-1 text-center">$13</td>
                                <td class="col-md-1 text-center">$26</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>Lebanese Cabbage Salad</em>></td>
                                <td class="col-md-1" style="text-align: center"> 1 </td>
                                <td class="col-md-1 text-center">$8</td>
                                <td class="col-md-1 text-center">$8</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>Baked Tart with Thyme and Garlic</em></td>
                                <td class="col-md-1" style="text-align: center"> 3 </td>
                                <td class="col-md-1 text-center">$16</td>
                                <td class="col-md-1 text-center">$48</td>
                            </tr>
                            <tr>
                                <td>  </td>
                                <td>  </td>
                                <td class="text-right">
                                <p>
                                    <strong>Subtotal: </strong>
                                </p>
                                <p>
                                    <strong>Tax: </strong>
                                </p></td>
                                <td class="text-center">
                                <p>
                                    <strong>$6.94</strong>
                                </p>
                                <p>
                                    <strong>$6.94</strong>
                                </p></td>
                            </tr>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td class="text-right"><h4><strong>Total: </strong></h4></td>
                                <td class="text-center text-danger"><h4><strong>$31.53</strong></h4></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-success btn-lg btn-block">
                        Pay Now   <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>
        </div>
</div>