<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Precription Priview Page</h4>
    <div></div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   
    <div class="container-fluid">
      <div class="col-md-3">
        <div class="form-group">
          <label for="">first name <span style="color: red" >*</span></label>
          <input type="text" class="form-control"  id="" aria-describedby="helpId" [(ngModel)]="first_name"  placeholder="">
         
        </div>
        <div class="form-group">
          <label for="">Last Name</label>
          <input type="text" class="form-control"  id="" aria-describedby="helpId" [(ngModel)]="last_name" placeholder="">
         
        </div>
      </div>
      <div class="col-md-3">
        
        <div class="form-group">
          <label for="">Secondary Contact Number</label>
          <input type="text" class="form-control"  id="" aria-describedby="helpId" [(ngModel)]="secondary_contact_number" placeholder="">
         
        </div>
        
        <div class="form-group">
          <label for="">Primary Contact Number</label>
          <input type="text" class="form-control"  id="" aria-describedby="helpId" [(ngModel)]="primary_contact_number" placeholder="">
         
        </div>
     </div>
  
  
     <div class="col-md-3">
       <div class="form-group">
         <label for="">Gender</label>
       <select [(ngModel)]="gender"  style="width: 150px;height: 33px;" class="form-control" >
         <option>male</option>
         <option>Female</option>
       </select>
       </div>
       <div class="form-group">
        <label for="">Email ID</label>
        <input type="email" class="form-control"  id="" [(ngModel)]="email" aria-describedby="helpId" placeholder="">
       
      </div>
      
     </div>
     <div class="col-md-3">
       <div class="form-group">
         <label for="">Date Of Birth</label>
         <input type="date" class="form-control"  id="" [(ngModel)]="date_of_birth" aria-describedby="helpId" placeholder="">
       </div>
       <div class="form-group">
        <label for="">Adhar Number</label>
        <input type="text" class="form-control"  id="" [(ngModel)]="adhar_number" aria-describedby="helpId" placeholder="">
       
      </div>
   
     </div>
     <div class="col-md-6">
       <div class="form-group">
         <label for="my-input">Present Address</label>
         <textarea id="my-input" placeholder="entar address" class="form-control" [(ngModel)]="present_address" rows="3"></textarea>
       </div>
     </div>
     <div class="col-md-6">
      <div class="form-group">
        <label for="my-input">Permanent Address</label>
        <textarea id="my-input" placeholder="entar address" class="form-control" [(ngModel)]="permanent_address" rows="3"></textarea>
      </div>
    </div>
     </div>




  </div>




  <div class="modal-footer">
    <button type="button" class="btn btn-primary" style="margin-right: 620px" (click)="toggle()" id="bt" >{{buttonName}}</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close </button>
    <button type="button" class="btn btn-primary" (click)="save()">Save </button>
  </div>
</ng-template>


<button class="btn btn-outline-primary mb-2 mr-2"  (click)="openLg(content)">Priview</button>
